name: Remote SSH Command
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote SSH commands using password
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{secrets.KEY}}
          port: ${{ secrets.PORT }}
          script: screen -S doc -X quit 2>/dev/null; cd /www/wwwroot/apoints.gm.wiki && rm -rf ./GmasterDoc && git clone https://github.com/Metalxiaoxiao/GmasterDoc.git && python -m venv .venv && source ./.venv/bin/activate && pip install mkdocs-material && mkdocs build
